
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');


/* body {
margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x: hidden;
font-family:'Lato', sans-serif;
}


 .offset:before{
	 display: block;
	 content: "";
	 height: 6rem;

 } */


.top-margin {
  margin-top: 5%;
}

.top-margin2 {
  margin-top: 10%;
  /* margin-bottom: 5%;  */
}


/*------sticky nav--------*/

#sticky-container {
    background:#646769;
    padding: 1rem 1.5rem;
   }
  
  .topbar-sticky-shrink {
    padding: 2rem;
    transition: padding 0.25s ease;
    background: #646769;
  }
  
  
  #top-bar-sticky-logo {
    color: #fefefe;
    font: weight 50;
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .topbar-sticky-shrink .menu {
    background: #646769;
    width: 100%;
  } 
  
  
  .is-stuck .topbar-sticky-shrink {
    padding: 1rem;
    transition: padding 0.25s ease;
  }
  
  .top-bar ul  {
     background:#646769;
  }  
  
  .top-bar-right .menu a {
    color: #fefefe;
    transition: color 0.15s ease-in;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  .top-bar-right .menu a:hover {
    color: #eb1008;
  }
  
  
  [data-sticky] {
    width: 100%;
  } 
  
  

/*-------------------*/


 /***-----swiper ------*/
  
  body {
      background: #fff;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }  
  
    .swiper-container {
      width: 100%;
      padding-top: 70px;
      padding-bottom: 70px;
      margin-top: 60px; 
      margin-bottom: 60px;
    }
  
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 370px;
      height: 370px;
    }




/*--------middle box -----------*/


.callout-hover-reveal .callout-footer {
  display: none;
} 



/*--------------middle end-----*/


/*------- image waste effect-------------*/

/* #waste  {
  margin-top:15px;
  
}   */
  
.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
}

.featured-image-block {
  margin-bottom: 20px;
}

.featured-image-block .featured-image-block-title {
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  color: #404040;
}

.featured-image-block a:hover p { 
  color: #1779ba;
}

/*------- image waste effect end -------------*/


/*-----search buttons----*/

.button {
  font-size: 16px;
  font-weight: bold;
}
  
  /*------ need map box and loc box-------*/
  
  
.maptitles {
  color: rgb(68, 65, 65);
  font-size: 20px;
  font-weight: bold;
}
#map {
  margin-bottom: 400px;
}
  /*------ need map box end-------*/
  
  

/*------footer----*/

.footer {
  height: 70px;
  bottom: 0px;
  width: 100%;
  position: fixed;
  background: #646769;
}   

.footer li {
  color: rgb(248, 246, 244);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
} 

